@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto&family=Shrikhand&display=swap');

h1,h2{
    font-family: 'Shrikhand';
    margin: 0%;
}
h3{
    font-family: 'Roboto';
    font-weight: lighter;
    margin: 0%;
}
body{
    margin: 0%;
}
.flexcentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes opacity{
    0%{
        opacity: 0;
    }    100%{
        opacity: 1;
    }
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    position: relative;
        & i{
            position: absolute;
            display: flex;
            align-items: center;
            height: 100%;
            left: 10px;
            top: 0px;
        }
}
p{
    margin: 0%;
}
#map{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: gainsboro;
    box-shadow:rgb(161, 161, 161) 0 2px 2px 0px inset;
        .map_icon{
            color: rgb(43, 43, 43);
            margin-right: 20px;
        }
        .map_p{
            font-weight: bold;
            font-family: 'Roboto';
        }
}
.head_img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
#menu{
    margin-top: -100px;
    width: 94%;
    border-radius: 30px 30px 0 0;
    background-color: #f6f6f6;
    position: relative;
    padding: 0 3% 0 3%;
    padding-bottom: 70px;
    justify-content: center;
    align-items: center;
}
.menu_head_titre{
    display: flex;
    justify-content: space-between;
    width: 94%;
    height: 100px;
}
.fa-heart{
    color: black;
    display: inline-block;
}
.fa-arrow-left{
    color: black;
}
.coeur{
    display: flex;
    justify-content: center;
    align-items: center;
    &_vide{
        position: relative;
        opacity: 1;
        &:hover{
            opacity: 0;
            transition: 0.5s;
        }
    }
    &_plein{
        position:absolute;
        opacity: 0;
        text-decoration: none;
        display: inline-block; 
        background: -webkit-linear-gradient(#9356DC,#FF79DA);
        -webkit-background-clip : text;
        -webkit-text-fill-color : transparent;
        &:hover{
            opacity: 1;
            transition: 0.5s;
        }
    }
}
.menu_grille_titre{
    width: 100px;
    height: 35px;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
        & h3{
            font-family: 'Roboto';
            font-weight: lighter;
            margin-bottom: 5px;
        }
        #menu_barre1{
            width: 50px;
            height: 4px;
            background: #99e2d0;
        }
        #menu_barre2{
            width: 50px;
            height: 4px;
            background: #99e2d0;
        }
        #menu_barre3{
            width: 50px;
            height: 4px;
            background: #99e2d0;
        }
}

.menu_grille{
    display: grid;
    width: 100%;
    grid-gap: 15px;
    margin-bottom: 20px;
    .menu_grille_case{
        width: 100%;
        min-width: 330px;
        height: 70px;
        padding: 0 1% 0 1%;
            .menu_plat_prix{
                display: flex;
                width: 95%;
                height: 70px;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                border-radius: 20px;
                font-family: 'Roboto';
                font-size: 14px;
                box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 10%);
                animation: opacity 1s both;
                position: relative;
                overflow: hidden;
                    &:hover{
                        cursor: pointer;
                    }
                    &:hover .menu_validate{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        animation: slide-left 0.5s ease ;
                        transform-origin: right;
                    }
                    .menu_validate{
                        display: none;
                        width: 30px;
                        position: absolute;
                        background:#99e2d0;
                        border-radius: 0 15px 15px 0;
                        right: 0px;
                        padding: 0 13px;
                        height: 100%;
                        i{
                            font-size: 30px;
                            color: white;
                            transform: rotate(180deg);
                            animation: rotate 0.5s both;
                        }
                    }
                    &#case_1{
                        animation-delay: 0.1s;
                    }
                    &#case_2{
                        animation-delay: 0.2s;
                    }
                    &#case_3{
                        animation-delay: 0.3s;
                    }
                    &#case_3bis{
                        animation-delay: 0.35s;
                    }
                    &#case_4{
                        animation-delay: 0.4s;
                    }
                    &#case_5{
                        animation-delay: 0.5s;
                    }
                    &#case_6{
                        animation-delay: 0.6s;
                    }
                    &#case_7{
                        animation-delay: 0.7s;
                    }
                    &#case_8{
                        animation-delay: 0.8s;
                    }
                    &#case_9{
                        animation-delay: 0.9s;
                    }
            }
                .menu_plat{
                    overflow: hidden;
                    white-space: nowrap;
                    padding-left: 10px;
                    p:first-child{
                        font-weight: bold;
                    }
                    p{
                        margin: 2px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }


                }
                .menu_prix{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width:60px;
                    height: 100%;
                    font-weight: bold;
                }
                &:hover .menu_prix{
                    padding-right: 50px;
                    transition: 0.5s ease;
                }
    }
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: 40px;
    .block_btn{
        color: white;
        width: 170px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Roboto';
        background: linear-gradient(to top,#9356DC,#FF79DA);
        border-radius: 25px 25px 25px 25px;
        cursor: pointer;
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
        &:hover{
            opacity: 0.8;
            transition: 0.3s;
            box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 60%);
        }
}
}

#footer{
    background-color: rgb(44, 44, 44);
    color: white;
    height: 180px;
    padding-left: 25px;
    padding-top: 15px;
    display: grid;
    font-family: 'Roboto';
        .footer_titre{
            font-weight: normal;
            font-family: 'Shrikhand';
        }
        #footer div a{
            text-decoration: none;
            color: white;
        }
        .footer_texte{
            display: flex;
            height: 20px;
            margin: 0px;
            .footer_lien{
            text-decoration: none;
            color: white;
            }
            .footer_logo{
                width: 40px;
                height: 20px;
            }
        }
}
@keyframes slide-left {
    0% {
              transform: scaleX(0);
    }
    100% {
              transform: scaleX(-50px);
    }
  }
@keyframes rotate {
    0% {
        transform: rotate(0);
}
100% {
        transform: rotate(360deg);
    }
}
@media screen and (min-width: 1024px){
    .menu_resp{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menu_grille_case{
        width: 100%;
        height: 70px;
        padding: 0 1% 0 1%;
    }
    #footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}