@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto&family=Shrikhand&display=swap');
@import "./variable";

body{
    margin: 0%;
}
h1,h3{
    font-family: 'Shrikhand';
}
h2{
    font-family: 'Roboto';
}
a{
    text-decoration: none;
}
.spinner {
    height: 100%;
    background: white;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    -webkit-animation: spinner 2s linear;
    animation: spinner 2s linear;
    visibility: hidden;
}
.spinner_border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 10px solid transparent;
    border-top: 10px solid #9356DC;
    border-left: 10px solid #9356DC;
    border-right: 10px solid #9356DC;
    border-color: linear-gradient(to top,#9356DC,#FF79DA);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation: spinner-border 2s linear;
    animation: spinner-border 2s linear;
    z-index: 10;
    visibility: hidden;
}
.fa-heart{
    color: black;
}
@keyframes spinner {
    0% {
      visibility: visible;
      opacity: 0.9;
    }
    70% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
}
@keyframes spinner-border {
    0% {
      visibility: visible;
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 0;
      visibility: hidden;
    }
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#map{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: gainsboro;
    box-shadow:rgb(161, 161, 161) 0 2px 2px 0px inset;
        .map_icon{
            color: rgb(43, 43, 43);
            margin-right: 20px;
        }
        .map_p{
            font-weight: bold;
            font-family: 'Roboto';
        }
}
#texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(247, 241, 241);
    padding-bottom: 50px;
        .texte_titre,.texte_p{
            width: 65%;
            justify-content: center;
            text-align: center;
        }
        .texte-modif{
            width: 75%;
            font-family: 'Roboto';
        }
        .texte_btn{
            width: 50%;
            max-width: 190px;
            background: linear-gradient(to top,#9356DC,#FF79DA);
            border-radius: 25px 25px 25px 25px;
            color: white;
            text-align: center;
            font-family: 'Roboto';
            transition-duration: 500ms;
            transition-property: transform;
                &:hover{
                    cursor: pointer;
                    opacity: 0.8;
                    transition: 0.3s;
                    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 60%);
                }
        }

}
#menunav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    height: 310px;
        .menunav_titre{
            font-weight: bold;
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }
        .menunav_btn-responsive{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 250px;
        }
        .menunav_num{
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primaire;
            border-radius: 25px 25px 25px 25px;
            color:white;
            margin-left: -9px;
        }
        .menunav_btn{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 95%;
            max-width: 340px;
            height: 65px;
            background-color:rgb(245, 244, 244);
            margin-left: 0px;
            border-radius: 20px 20px 20px 20px;
            box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
            transform: scale(1);
            transition-property: transform;
            transition-duration: 400ms;
                &:hover{
                    transform: scale(1);
                    transition: background-color 200ms linear;
                    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
                    background-color: rgb(147,86,220,0.20);
                    cursor: pointer;
                }
        }
        .menunav_btn_i{
            width: 50px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #7E7E7E;
        }
        .menunav_texte{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            padding-left: 20px;
            font-family: 'Roboto';
            text-decoration: none;
            color: black;
        }
}
.menunav_btn:hover .menunav_btn_i{
    color: #9356DC;
}
main{
    margin-top: 30px ;
    background-color: #f6f6f6;
        h2{
            padding: 25px;
            margin: 0%;
        }
}
#restaurants{
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
        & a{
            width: 330px;
        }
        .restaurants_carte{
            width: 330px;
            height: 275px;
            text-decoration: none;
            font-family: 'Roboto';
            border-radius: 20px 20px 20px 20px;
            box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
            transition-property: transform;
            transition-duration: 400ms;
                &:hover{
                    transform: scale(1.05);
                    box-shadow: 0px 0px 10px 2px rgb(147 86 220 / 60%);
                }
        }
        .restaurants_carte img{
            width: 100%;
            height: 200px;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
            position: absolute;
        }
        .restaurants_img_new{
            position: relative;
            z-index: 2;
            color: #1b6150;
            font-weight: bold;
            width: auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .restaurants_img{
            position: relative;
            width: 100%;
            height: 190px;
        }
        .restaurants_texte{
            width: 70%;
            margin-left: 10px;
        }
        .restaurants_block{
            width: 100%;
            height: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
                p{
                    margin: 5px;
                    color: black;
                }
                p:first-child{
                    font-weight: bold;
                }
        }
}
.fa-heart{ 
    display: inline-block;
}
.coeur{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    &_vide{
        position: relative;
        opacity: 1;
        &:hover{
            opacity: 0;
            transition: 0.5s;
        }
    }
    &_plein{
        position:absolute;
        opacity: 0;
        text-decoration: none;
        display: inline-block; 
        background: -webkit-linear-gradient(#9356DC,#FF79DA);
        -webkit-background-clip : text;
        -webkit-text-fill-color : transparent;
        &:hover{
            opacity: 1;
            transition: 0.5s;
        }
    }
}

.restaurants_img_new p{
    display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        background-color: #99e2d0;
        width: 100px;
        height: 35px;
        margin-top: 20px;
        margin-right: 20px;
}

footer{
    background-color: rgb(44, 44, 44);
    color: white;
    height: 180px;
    padding-left: 15px;
    padding-top: 10px;
        .footer_titre{
            font-weight: normal;
        }
        .footer_texte{
            display: flex;
            height: 20px;
            margin: 0px;
            font-family: 'Roboto';
            margin-bottom: 5px;
            color: white;
            text-decoration: none;
                .footer_lien{
                    color: white;
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                }
            .footer_logo{
                width: 40px;
                height: 20px;
            }
        .footer_aide{
            display: flex;
            height: 20px;
            margin: 0px;
            font-family: 'Roboto';
            margin-bottom: 5px;
                .footer_aide a{
                    text-decoration: none;
                    color: white;
                }
        }
        }
}
@media screen and (min-width: 900px){
    #menunav{
        display: flex;
        height: 200px;
        .menunav_btn-responsive{
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
        margin-left: -20px;
        .menunav_btn
        {
            max-width: 450px;
            margin: 0 10px 0 10px;
        }
        .menunav_titre h2{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    }
    main h2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #restaurants{
        width: 100%;
        height: 650px;
        display: grid;
        align-items: center;
        margin: 20px 0 0 0;
        justify-content: center;
        grid-template-columns: 330px 330px;
        grid-gap: 20px;
        grid-template-rows: 280px 280px;
        }
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    }
    
    
